.venue {
  background-color: #F5F5F5;
  width: 43vw;
  border-radius: 6px;
  margin-bottom: 32px;
  position: relative;
  &__name {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 12px;
    padding: 16px 16px 0px 16px;

  }
  &__location {
    margin-bottom: 16px;
    padding: 0 16px;
    &__icon {
      margin-right: 12px;
    }
    &__address {
      color: lightgray;
      font-size: 10px;
    }
    display: flex;
  }
  &__category {

    width: 100%;
    &__name {
      background-color: #094BB0;
      color: white;
      padding: 6px;
      border-radius: 0px 0px 6px 6px;
    }
  }

}
