<div class="venue" *ngIf="data">
  <div class="venue__name">{{index+1}}. {{data.name}}</div>
  <div class="venue__location">
    <div class="venue__location__icon">
        <i class="fas fa-map-marker-alt"></i>
    </div>
    <div class="venue__location__address">
      <div class="venue__address"> {{data.location.address}}</div>
      <div class="venue__address">{{data.location.city}} {{data.location.state}}</div>
      <div class="venue__address">{{data.location.country}}</div>
    </div>
  </div>
  <div class="venue__category" *ngFor="let category of data.categories">
    <img class="venue__category__item" [src]="getIconUrl(category.icon)" />
    <div class="venue__category__name" >{{category.name}}</div>
  </div>

</div>
