.venue {
  background-color: rgba(255,51,153, .9);
  color: white;
  width: 43vw;
  border-radius: 6px;
  padding:  16px;
  margin-bottom: 32px;
  position: relative;
  &__name {
    font-weight: bold;
    margin-bottom: 12px;
  }
  &__location {
    display: flex;
    justify-content: space-between;
  }
  &__category {
    position: absolute;
    top: 0;
    right: 0;
    &__name {
      background-color: rgba(0, 0, 0, 0.6);
      padding: 6px;
    }
  }

}
