$height: 32px;
$radius: 6px;
$padding: 8px 6px;
$bar-width: 300px;
$button-width: 80px;
$container-offset: 50px;
$margin: 8px;
.search {
  background-color: rgba(0,0,0, .5);
  width: calc(#{$bar-width} + #{$button-width} + #{$margin} + #{$container-offset} * 2);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  border-radius: $radius;
  &__bar {
    -webkit-appearance: none;
    padding: $padding;
    height: $height;
    width: 300px;
    border: 1px solid lightgray;
    border-radius: $radius;
    margin-right: $margin;
  }
  &__button {
    width: 80px;
    height: $height;
    border-radius: $radius;
    padding: $padding;
    border: none;
    background-color: purple;
    color: white;
  }
}
